<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot_base">
  <link
    name="robot_base_link">
    <inertial>
      <origin
        xyz="0.12709 -8.0093E-06 0.014873"
        rpy="0 0 0" />
      <mass
        value="52.739" />
      <inertia
        ixx="12.38"
        ixy="-1.5614E-15"
        ixz="-1.4311E-16"
        iyy="11.125"
        iyz="2.3447E-16"
        izz="23.495" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_base/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_base/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
