<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pallet">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.13161 -4.7384E-07 -0.00078465"
        rpy="0 0 0" />
      <mass
        value="1.1989" />
      <inertia
        ixx="0.012162"
        ixy="-7.9893E-09"
        ixz="-2.7625E-07"
        iyy="0.0026858"
        iyz="3.7325E-09"
        izz="0.014765" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pallet/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pallet/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>